<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/organik">Sampah organik</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/b3">Sampah b3</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Sampah-sampah Anorganik</h1>

        
      </section>
      <!--List sampah organik-->
      

      

      <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }

        table, th, td {
            border: 1px solid #ffffff;
            padding: 8px;
        }

        th {
            background-color: #f2a65a;
            color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: #f2a65a;
        }

        tr:hover {
            background-color: #f2a65a;
        }
    </style>
</head>
<body>

    <h1>Daftar Jenis Sampah Anorganik</h1>
    <h2>Tekan tombol dibawah untuk mengarahkan anda ke halaman yang di inginkan</h2>
    
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Jenis Sampah</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="#Plastik">Sampah Plastik</a></td>
                <td>Sampah plastik yang sering digunakan</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#Logam">Sampah Logam</a></td>
                <td>Sampah berbahan dasar logam yang sering ditemukan</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#Kaca">Sampah Kaca</a></td>
                <td>Sampah berbahan dasar kaca</td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="#Karet">Sampah Karet</a></td>
                <td>Sampah yang berbahan dasar karet</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="#Styrofoam">Sampah Styrofoam</a></td>
                <td>Sampah Styrofoam yang sering ditemukan</td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="#Tekstil">Sampah Tekstil</a></td>
                <td>Sampah sisa tekstil</td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="#Keramik">Sampah Keramik</a></td>
                <td>Sampah keramik</td>
            </tr>
            
        </tbody>
    </table>









      <!-- Bagian Tentang Sampah basah -->
      <section class="main__about about" id="Plastik">
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah plastik antara lain:
          </h1>
          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Botol plastik (air mineral, soda)</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kantong plastik</td>
                   
                </tr>
                <tr>
                    <td>3</td>
                    <td>Pembungkus makanan daging</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Sedotan dan Gelas plastik sekali pakai</td>
                    
                </tr>
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img2/plastik.jpg"
            alt="me"
            width="250"
            height="250"
            
          />

          
        
      </section>





      <section class="main__about about" id="Logam"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah Logam antara lain :
          </h1>

          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kaleng minuman (soda,jus)</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kaleng makanan(sarden,kornet)</td>
                   
                </tr>
                <tr>
                    <td>3</td>
                    <td>Aluminium foil</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Potongan besi atau logam</td>
                    
                </tr>
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img2/logam.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Kaca"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Berbagai jenis sampah kaca seperti
          </h1>
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Botol kaca</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pecahan kaca</td>
                   
                </tr>
                <tr>
                    <td>3</td>
                    <td>Gelas dan piring kaca</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Cermin</td>
                    
                </tr>
            </tbody>
          </table>


          <img
            class="info-block__img"
            src="../static/img2/Kaca.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      

      <section class="main__about about" id="Karet"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">jenis-jenis sampah Karet adalah : </h1>
            
            
            <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ban bekas</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sisa karet gelang</td>
                   
                </tr>
                <tr>
                    <td>3</td>
                    <td>Sol sepatu</td>
                    
                </tr>
                
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img2/ban.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Styrofoam"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Yang tergolong sampah Styrofoam adalah
          </h1>
          


          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Wadah makanan styrofoam</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Piring dari styrofoam</td>
                   
                </tr>
                
            </tbody>
          </table>


          <img
            class="info-block__img"
            src="../static/img2/styrofoam.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      

      <section class="main__about about" id="Tekstil"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Beragai sampah yang tergolong ke Tekstil sintesis adalah
          </h1>
          
          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kain nilon atau poliester</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pakaian yang terbuat dari bahan sintetis (seperti polyester)</td>
                   
                </tr>
                
                
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img2/tekstil.webp"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Keramik"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Berbagai jenis sampah keramik adalah
          </h1>

          
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pecahan keramik (piring, cangkir)</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ubin bekas</td>
                   
                </tr>
                
                
            </tbody>
          </table>



          <img
            class="info-block__img"
            src="../static/img2/keramik.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      

      <footer>
        <h1><a href="/anorganik">Tekan disini untuk kembali</a></h1>
      </footer>
    </body>
  </html>

      