<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/organik">Sampah organik</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/b3">Sampah b3</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Sampah-sampah anorganik</h1>

        
      </section>
      <!--List sampah organik-->
      <div class="box">
        <h2>Sampah anorganik kering</h2>
        <ul>
          <li>
            <a href="#Plastik"><span>1</span>Sampah plastik</a>
          </li>

          <li>
            <a href="#Logam"><span>2</span>Logam</a>
          </li>

          <li>
            <a href="#Kaca"><span>3</span>Kaca</a>
          </li>

          <li>
            <a href="#Karet"><span>4</span>Karet</a>
          </li>

          <li>
            <a href="#Styrofoam"><span>5</span>Styrofoam</a>
          </li>

          <li>
            <a href="#Tekstil"><span>6</span>Tekstil Sintetis</a>
          </li>

          <li>
            <a href="#Keramik"><span>7</span>Keramik</a>
          </li>
          

        </ul>
      </div>

      











      <!-- Bagian Tentang Sampah basah -->
      <section class="main__about about" id="Plastik">
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah plastik antara lain:
          </h1>
          <li>
            <h2>Botol plastik (air mineral, soda)</h2>
          </li>
          <li>
            <h2>Kantong plastik</h2>
          </li>
          <li>
            <h2>Pembungkus makanan daging</h2>
          </li>
          <li>
            <h2>Sedotan</h2>
          </li>
          <li>
            <h2>Gelas plastik sekali pakai</h2>
          </li>
          
          <img
            class="info-block__img"
            src="../static/img2/plastik.jpg"
            alt="me"
            width="250"
            height="250"
            
          />

          
        </div>
      </section>





      <section class="main__about about" id="Logam"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah Logam antara lain :
          </h1>

          <li>
            <h2>Kaleng minuman (soda,jus)</h2>
          </li>
          <li>
            <h2>Kaleng makanan(sarden,kornet)</h2>
          </li>
          <li>
            <h2>Aluminium foil</h2>
          </li>
          <li>
            <h2>Potongan besi atau logam</h2>
          </li>
          <img
            class="info-block__img"
            src="../static/img2/logam.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Kaca"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis sampah kaca seperti
          </h1>
          <li><h2>Botol kaca</h2></li>
          <li><h2>Pecahan kaca</h2></li>
          <li><h2>Gelas dan piring kaca</h2></li>
          <li><h2>Cermin</h2></li>
          <img
            class="info-block__img"
            src="../static/img2/Kaca.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      

      <section class="main__about about" id="Karet"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">jenis-jenis sampah Karet adalah : </h1>
            <li><h2> Ban bekas</h2></li>
            <li><h2>Sisa karet gelang</h2></li>
            <li><h2>Sol sepatu</h2></li>
            

          <img
            class="info-block__img"
            src="../static/img2/ban.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Styrofoam"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah Styrofoam adalah
          </h1>
          <li><h2>Wadah makanan styrofoam</h2></li>
          <li><h2>Pengemasan elektronik</h2></li>
          <img
            class="info-block__img"
            src="../static/img2/styrofoam.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      

      <section class="main__about about" id="Tekstil"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Beragai sampah yang tergolong ke Tekstil sintesis adalah
          </h1>
          <li><h2>Kain nilon atau poliester</h2></li>
          <li><h2>Pakaian yang terbuat dari bahan sintetis (seperti polyester)</h2></li>
          
          <img
            class="info-block__img"
            src="../static/img2/tekstil.webp"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Keramik"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis sampah keramik adalah
          </h1>

          <li><h2> Pecahan keramik (piring, cangkir)</h2></li>
          <li><h2> Ubin bekas</h2></li>
          



          <img
            class="info-block__img"
            src="../static/img2/keramik.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      

      <footer>
        <h1><a href="/anorganik">Tekan disini untuk kembali</a></h1>
      </footer>
    </body>
  </html>

      