<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/organik">Sampah organik</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/b3">Sampah b3</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Sampah-sampah anorganik</h1>

        
      </section>
      <!--List sampah organik-->
      <div class="box">
        <h2>Sampah anorganik kering</h2>
        <ul>
          <li>
            <a href="#Baterai"><span>1</span>Baterai</a>
          </li>

          <li>
            <a href="#Lampu"><span>2</span>Lampu</a>
          </li>

          <li>
            <a href="#CatPelarut"><span>3</span>Sisa cat dan pelarut</a>
          </li>

          <li>
            <a href="#Pembersih"><span>4</span>Produk Pembersih Rumah Tangga</a>
          </li>

          <li>
            <a href="#PestisidaInsektisida"><span>5</span>Pestisida dan Insektisida</a>
          </li>

          <li>
            <a href="#OliPelumas"><span>6</span>Oli dan Pelumas</a>
          </li>

          <li>
            <a href="#Obat"><span>7</span>Obat-obatan kadaluarsa</a>
          </li>

          <li>
            <a href="#E-waste"><span>8</span>Sampah elektronik/E-waste</a>
          </li>
          <li>
            <a href="#Medis"><span>9</span>Limbah Medis</a>
          </li>

          <li><a href="#Asbes"><span>10</span>Asbes</a></li>
          <li><a href="#Merkuri"><span>11</span>Merkuri</a></li>
          <li><a href="#Aerosol"><span>12</span>Aerosol</a></li>

        </ul>
      </div>

      











      <!-- Bagian Tentang Sampah basah -->
      <section class="main__about about" id="Baterai">
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah Baterai antara lain:
          </h1>
          <li>
            <h2>Baterai bekas (alkaline, lithium, dan baterai isi ulang)</h2>
          </li>
          <li>
            <h2>Baterai ponsel, laptop, dan alat elektronik lainnya</h2>
          </li>
          
          
          <img
            class="info-block__img"
            src="../static/img3/baterai.jpg"
            alt="me"
            width="250"
            height="250"
            
          />

          
        </div>
      </section>





      <section class="main__about about" id="Lampu"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah Lampu antara lain :
          </h1>

          <li>
            <h2>Lampu neon (fluorescent)</h2>
          </li>
          <li>
            <h2>Bohlam lampu (mengandung merkuri)</h2>
          </li>
          
          <img
            class="info-block__img"
            src="../static/img3/lampu.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="CatPelarut"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis sampah cat dan pelarut adalah seperti :
          </h1>
          <li><h2>Cat dinding, cat minyak</h2></li>
          <li><h2>Tinner, Pelarut cat, dan bahan kimia pelarut lainnya</h2></li>
          
          <img
            class="info-block__img"
            src="../static/img3/cat.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      

      <section class="main__about about" id="Pembersih"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">jenis-jenis sampah pembersih rumah tangga adalah adalah : </h1>
            <li><h2> Pemutih (bleach)</h2></li>
            <li><h2>Pembersih lantai dan kaca</h2></li>
            <li><h2>Desinfektan berbahan kimia keras</h2></li>
            

          <img
            class="info-block__img"
            src="../static/img3/Pembersih.png"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="PestisidaInsektisida"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah Pestisida dan Insektisida adalah :
          </h1>
          <li><h2>Obat nyamuk semprot dan oles</h2></li>
          <li><h2>Pestisida untuk tanaman</h2></li>
          <li><h2>Racun tikus dan serangga</h2></li>
          <img
            class="info-block__img"
            src="../static/img3/pestisida.png"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="OliPelumas"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <li><h1>Berbagai jenis sampah oli dan pelumas adalah seperti :</h1>></li>
          <li><h2>Oli bekas kendaraan</h2></li>
          <li><h2>Pelumas mesin</h2></li>
          
          <img
            class="info-block__img"
            src="../static/img3/oli.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Obat"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Beragai sampah yang tergolong ke sampah Obat-obatan kadaluarsa adalah
          </h1>
          <li><h2>Obat-obatan yang sudah tidak terpakai atau kadaluarsa</h2></li>
          <li><h2>Jarum suntik bekas (dari penggunaan pribadi)</h2></li>
          
          <img
            class="info-block__img"
            src="../static/img3/obat.png"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="E_waste"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis sampah elektronik adalah
          </h1>

          <li><h2>  Komponen elektronik yang mengandung logam berat (misalnya ponsel, laptop)</h2></li>
          <li><h2>Komputer dan perangkat keras yang sudah tidak digunakan</h2></li>
          



          <img
            class="info-block__img"
            src="../static/img3/elektronik.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Medis"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis Sampah Limbah medis adalah
          </h1>


          <li><h2>Jarum suntik, perban bekas, masker medis bekas</h2></li>
          <li><h2>Sisa obat-obatan dari rumah sakit atau klinik</h2></li>
          
          
          <img
            class="info-block__img"
            src="../static/img3/medis.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Asbes"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis Sampah Asbes adalah
          </h1>


          <li><h2>Bahan bangunan yang mengandung asbes, yang berbahaya jika serpihannya terhirup</h2></li>
          
          
          
          <img
            class="info-block__img"
            src="../static/img3/asbes.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Merkuri"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis Sampah Merkuri adalah
          </h1>


          <li><h2>Termometer merkuri</h2></li>
          <li><h2>Alat pengukur tekanan darah lama yang mengandung merkuri</h2></li>
          
          
          
          <img
            class="info-block__img"
            src="../static/img3/merkuri.webp"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Aerosol"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis Sampah Merkuri adalah
          </h1>


          <li><h2>Kaleng semprot (pewangi ruangan, spray cat, hair spray)</h2></li>
          
          
          
          
          <img
            class="info-block__img"
            src="../static/img3/AEROSOL.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>


      <footer>
        <h1><a href="/b3">Tekan disini untuk kembali</a></h1>
      </footer>
    </body>
  </html>

      