<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/organik">Sampah organik</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/anorganik">Sampah anorganik</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Sampah-sampah B3</h1>

        
      </section>
      <!--List sampah B3-->
      <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }

        table, th, td {
            border: 1px solid #ffffff;
            padding: 8px;
        }

        th {
            background-color: #f2a65a;
            color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: #f2a65a;
        }

        tr:hover {
            background-color: #f2a65a;
        }
    </style>
</head>
<body>

    <h1>Daftar Jenis Sampah B3</h1>
    <h2>Tekan tombol dibawah untuk mengarahkan anda ke halaman yang di inginkan</h2>
    
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Jenis Sampah</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="#Baterai">Sampah Baterai</a></td>
                <td>Sampah baterai bekas dan rusak</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#Lampu">Sampah Lampu</a></td>
                <td>Sampah lampu bekas atau pecah</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#CatPelarut">Sampah Cat Pelarut</a></td>
                <td>Sampah bekas cat dan pelarut</td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="#Pembersih">Sampah Pembersih Rumah Tangga</a></td>
                <td>Sampah bekas bahan-bahan pembersih rumah tangga</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="#PestisidaInsektisida">Sampah Pestisida Insektisida</a></td>
                <td>Sampah Pestisida dan Insektisida bekas penggunaan pertanian</td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="#OliPelumas">Sampah Oli Pelumas</a></td>
                <td>Sampah oli dan pelumas bekas penggunaan atau yang kadaluarsa</td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="#Obat">Sampah Obat</a></td>
                <td>Sampah obat obatan yang kadaluarsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="#Elektronik">Sampah Elektronik</a></td>
                <td>Sampah bekas elektronik yang berbahaya</td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="#Medis">Sampah Medis</a></td>
                <td>Sampah bekas penggunaan medis</td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="#Asbes">Sampah Asbes</a></td>
                <td>Sampah yang berasal bahan asbes. Serat asbes sangat halus dan kecil, sangat mudah dihirup dan sangat berbahaya</td>
            </tr>
            <tr>
                <td>11</td>
                <td><a href="#Merkuri">Sampah Merkuri</a></td>
                <td>Sampah yang mengandung unsur Merkuri (Hg). Merupakan logam berat yang berbahaya</td>
            </tr>
            <tr>
                <td>12</td>
                <td><a href="#Aerosol">Sampah Aerosol</a></td>
                <td>Sampah dengan partikel kecil dalam bentuk cair atau padat yang tersuspensi dalam gas</td>
            </tr>
            
        </tbody>
    </table>











      <!-- Bagian Tentang Sampah basah -->
      <section class="main__about about" id="Baterai">
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah Baterai antara lain:
          </h1>
          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Baterai bekas (alkaline, lithium, dan baterai isi ulang)</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Baterai ponsel, laptop, dan alat elektronik lainnya</td>
                </tr>
                
                
            </tbody>
          </table>

          <img
            class="info-block__img"
            src="../static/img3/baterai.jpg"
            alt="me"
            width="250"
            height="250"
            
          />

          
        
      </section>





      <section class="main__about about" id="Lampu"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah Lampu antara lain :
          </h1>

          

          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lampu neon (fluorescent)</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bohlam lampu (mengandung merkuri)</td>
                </tr>
                
                
            </tbody>
          </table>


          <img
            class="info-block__img"
            src="../static/img3/lampu.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="CatPelarut"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis sampah cat dan pelarut adalah seperti :
          </h1>
          
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cat dinding, cat minyak</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tinner, Pelarut cat, dan bahan kimia pelarut lainnya</td>
                </tr>
                
                
            </tbody>
          </table>




          <img
            class="info-block__img"
            src="../static/img3/cat.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      

      <section class="main__about about" id="Pembersih"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">jenis-jenis sampah pembersih rumah tangga adalah adalah : </h1>
            
            
            <table>
              <thead>
                  <tr>
                      <th>No.</th>
                      <th>Jenis Sampah</th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Pemutih (bleach)</td>
                      
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Pembersih lantai dan kaca</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Desinfektan berbahan kimia keras</td>

                  </tr>
                  
              </tbody>
            </table>




          <img
            class="info-block__img"
            src="../static/img3/Pembersih.png"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="PestisidaInsektisida"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Yang tergolong sampah Pestisida dan Insektisida adalah :
          </h1>
          


          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Obat nyamuk semprot dan oles</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pestisida untuk tanaman</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Racun tikus dan serangga</td>

                </tr>
                
            </tbody>
          </table>




          <img
            class="info-block__img"
            src="../static/img3/pestisida.png"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="OliPelumas"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <li><h1>Berbagai jenis sampah oli dan pelumas adalah seperti :</h1>></li>
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Oli bekas kendaraan</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pelumas mesin</td>
                </tr>
                
                
            </tbody>
          </table>




          <img
            class="info-block__img"
            src="../static/img3/oli.jpg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Obat"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Beragai sampah yang tergolong ke sampah Obat-obatan kadaluarsa adalah
          </h1>
          

          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Obat-obatan yang sudah tidak terpakai atau kadaluarsa</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jarum suntik bekas (dari penggunaan pribadi)</td>
                </tr>
                
                
            </tbody>
          </table>



          




          <img
            class="info-block__img"
            src="../static/img3/obat.png"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Elektronik"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis sampah elektronik adalah
          </h1>

          
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Komponen elektronik yang mengandung logam berat (misalnya ponsel, laptop)</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Komputer dan perangkat keras yang sudah tidak digunakan</td>
                </tr>
                
                
            </tbody>
          </table>

          <img
            class="info-block__img"
            src="../static/img3/elektronik.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Medis"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis Sampah Limbah medis adalah
          </h1>


          
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jarum suntik, perban bekas, masker medis bekas</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sisa obat-obatan dari rumah sakit atau klinik</td>
                </tr>
                
                
            </tbody>
          </table>
          
          <img
            class="info-block__img"
            src="../static/img3/medis.jpg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Asbes"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis Sampah Asbes adalah
          </h1>


          <h2>Bahan bangunan yang mengandung asbes, yang berbahaya jika serpihannya terhirup</h2>
          

          
          
          <img
            class="info-block__img"
            src="../static/img3/asbes.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Merkuri"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis Sampah Merkuri adalah
          </h1>


          
          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Termometer merkuri</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alat pengukur tekanan darah lama yang mengandung merkuri</td>
                </tr>
                
                
            </tbody>
          </table>
          
          <img
            class="info-block__img"
            src="../static/img3/merkuri.webp"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Aerosol"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Berbagai jenis Sampah Merkuri adalah
          </h1>


          <h2>Kaleng semprot (pewangi ruangan, spray cat, hair spray)</h2>
          
          
          
          
          <img
            class="info-block__img"
            src="../static/img3/AEROSOL.jpg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>


      <footer>
        <h1><a href="/b3">Tekan disini untuk kembali</a></h1>
      </footer>
    </body>
  </html>

      