<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/anorganik">Sampah anorganik</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/b3">Sampah b3</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Sampah-sampah Organik</h1>

        
      </section>
      <!--List sampah organik-->
      <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }

        table, th, td {
            border: 1px solid #ffffff;
            padding: 8px;
        }

        th {
            background-color: #f2a65a;
            color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: #f2a65a;
        }

        tr:hover {
            background-color: #f2a65a;
        }
    </style>
</head>
<body>

    <h1>Daftar Jenis Sampah Organik Basah</h1>
    <h2>Tekan tombol dibawah untuk mengarahkan anda ke halaman yang di inginkan</h2>
    
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Jenis Sampah</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="#sismak">Sampah sisa makanan</a></td>
                <td>Sampah yang berasal dari sisa makanan sehari-hari</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#Kulah">Sampah Kulit buah</a></td>
                <td>Sampah yang berasal dari kulit bekas memakan buah-buahan</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#Daun">Sampah Dedaunan</a></td>
                <td>Sampah deadunan, yang biasanya kita temukan di sekitar kita</td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="#Kulyur">Sampah Kulit Sayur</a></td>
                <td>Sampah yang yang berasal dari hasil mengupas kulit sayur</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="#Ampas">Sampah Ampas kopi dan teh</a></td>
                <td>Sampah yang berasal dari ampas bekas meminum kopi maupun teh</td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="#Tulang">Sampah Tulang</a></td>
                <td>Sampah yang berasal dari tulang bekas memakan daging hewan maupun ikan</td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="#Busuk">Sampah buah-buahan busuk</a></td>
                <td>Sampah yang berasal dari sampah makanan busuk</td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="#Biji-bijian">Sampah biji-bijian</a></td>
                <td>Sampah yang berasal dari jenis makanan biji-bijian</td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="#kotoran">Sampah Kotoran</a></td>
                <td>Sampah yang berasal dari Kotoran hewan maupun manusia</td>
            </tr>
        </tbody>
    </table>

    <h1>Daftar Jenis Sampah Organik Kering</h1>
    <h2>Tekan tombol dibawah untuk mengarahkan anda ke halaman yang di inginkan</h2>

    <table>
      <thead>
          <tr>
              <th>No.</th>
              <th>Jenis Sampah</th>
              <th>Deskripsi</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td><a href="#Daring">Sampah Dedaunan kering</a></td>
              <td>Sampah dedaunan yang kering dan berada disekitar kita</td>
          </tr>
          <tr>
              <td>2</td>
              <td><a href="#Kayu">Sampah Kayu</a></td>
              <td>Sampah Kayu yang berasal dari pohon</td>
          </tr>
          <tr>
              <td>3</td>
              <td><a href="#Cangkang">Sampah Cangkang Kacang</a></td>
              <td>Sampah cangkang berasal dari sisa memakan kacang</td>
          </tr>
          <tr>
              <td>4</td>
              <td><a href="#Kertas">Sampah Kertas</a></td>
              <td>Sampah Kertas yang sering digunakan dalam kehidupan sehari-hari</td>
          </tr>
          <tr>
              <td>5</td>
              <td><a href="#Jerami">Sampah Jerami atau Sekam Padi</a></td>
              <td>Sampah sisa Jerami atau sekam padi</td>
          </tr>
          <tr>
              <td>6</td>
              <td><a href="#Batang">Sampah Batang Pisang</a></td>
              <td>Sampah yang berasal dari sisa batang pisang di pohon pisang</td>
          </tr>
      </tbody>
  </table>










      <!-- Bagian Tentang Sampah basah -->
      <section class="main__about about" id="sismak">
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah sisa makanan antara lain :
          </h1>
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nasi</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sayuran</td>
                   
                </tr>
                <tr>
                    <td>3</td>
                    <td>Daging</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ikan</td>
                    
                </tr>
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img/nasi.jpeg"
            alt="me"
            width="250"
            height="250"
            
          />

          <img
            class="info-block__img"
            src="../static/img/sismak.jpeg"
            alt="me"
            width="250"
            height="250"
          />

          <img
            class="info-block__img"
            src="../static/img/daging.jpg"
            alt="me"
            width="250"
            height="250"
          />

          <img
            class="info-block__img"
            src="../static/img/ikan.jpg"
            alt="me"
            width="250"
            height="250"
          />
          
        
      </section>
      
      





      <section class="main__about about" id="Kulah"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah sisa kulit Buah antara lain :
          </h1>

          
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kulit Apel</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kulit Pisang</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Kulit Jeruk</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kulit Mangga, dan masih banyak lagi</td>
                    
                </tr>
                
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img/buah.webp"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Daun"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Berbagai jenis daun yang masih basah seperti
          </h1>
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Daun Pepaya</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Daun Pisang, DLL</td>
                </tr>
                
          </table>
          <img
            class="info-block__img"
            src="../static/img/dasah.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      

      <section class="main__about about" id="Kulyur"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <p class="info-block__text">
            <h1>Jenis sampah Kulit Sayur</h1>
            
            <table>
              <thead>
                  <tr>
                      <th>No.</th>
                      <th>Jenis Sampah</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Kulit wortel</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Kulit kentang</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Kulit bawang (bawang merah, bawang putih)</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Kulit timun</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>Kulit labu</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>Kulit tomat</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>Kulit ubi jalar</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>Kulit terong</td>
                  </tr>
                  <tr>
                      <td>9</td>
                      <td>Kulit lobak</td>
                  </tr>
              </tbody>
          </table>
            
            
            
            
        
          </p>
          <img
            class="info-block__img"
            src="../static/img/sayur.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Ampas"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Yang tergolong sampah ampas adalah
          </h1>
          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ampas Kopi</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ampas Teh</td>
                </tr>
                
          </table>
          <img
            class="info-block__img"
            src="../static/img/ampas.webp"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Tulang"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1>Berbagai jenis tulang seperti :</h1>
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tulang ayam</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tulang sapi (seperti tulang iga)</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tulang kambing</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>dan masih banyak lagi</td>
                    
                </tr>
                
            </tbody>
          </table>

          <img
            class="info-block__img"
            src="../static/img/tulang.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Busuk"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Beragai macam buah yang busuk dan melewati masa makan nya seperti
          </h1>
          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Buah Pisang yang busuk</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Buah Apel yang busuk</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Buah melon yang busuk</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Buah semangka, Berry-berryan, dan masih banyak lagi</td>
                    
                </tr>
                
            </tbody>
          </table>
          <img
            class="info-block__img"
            src="../static/img/Busuk.jpg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Biji-bijian"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis Biji-bijian seperti
          </h1>


          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Beras</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jagung</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Oat</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kacang hijau</td>
                    
                </tr>

                <tr>
                    <td>5</td>
                    <td>Kacang merah</td>
                  
                </tr>
                <tr>
                    <td>6</td>
                    <td>Dan masih banyak lagi</td>
                
                </tr>
                
            </tbody>
          </table>



          <img
            class="info-block__img"
            src="../static/img/biji.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="kotoran"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Berbagai jenis kotoran yang tergolong sampah organik adalah
          </h1>


          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kotoran sapi</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kotoran ayam</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Kotoran kambing</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kotoran manusia</td>
                    
                </tr>

                <tr>
                    <td>5</td>
                    <td>Dan kotoran mahluk hidup lainnya</td>
                  
                </tr>
              
                
            </tbody>
          </table>

          <img
            class="info-block__img"
            src="../static/img/kotoran.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <!-- Bagian Tentang Sampah kering -->
      <section class="main__about about" id="Daring"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Yang tergolong sampah sisa dedaunan kering adalah berbagai 
            jenis daun yang sudah kering, biasanya banyak ditemukan
            disekitar lapangan
          </h1>

          <img
            class="info-block__img"
            src="../static/img/daun.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      

      <section class="main__about about" id="Kayu"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Berbagai jenis sampah kayu adalah
          </h1>

          

          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Potongan Kayu Sisa Pekerjaan Pertukangan</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ranting dan Dahan Kering</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Serbuk Gergaji</td>
                    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Pallet Kayu Bekas</td>
                    
                </tr>

                <tr>
                    <td>5</td>
                    <td>Kayu Furnitur Rusak</td>
                  
                </tr>
                <tr>
                    <td>6</td>
                    <td>Kulit Kayu</td>
                
                </tr>
                
            </tbody>
          </table>

          <img
            class="info-block__img"
            src="../static/img/kayu.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Cangkang"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Cangkang/kulit kacang termasuk sampah kering, contohnya :
          </h1>

          
          


          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kulit kacang tanah</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kulit kacang</td>
                    
                </tr>
                <tr>
                    <td>3</td>
                    <td>Dan lain-lain</td>
                    
                </tr>
                
            </tbody>
          </table>


          <img
            class="info-block__img"
            src="../static/img/kacang.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
      </section>

      <section class="main__about about" id="Kertas"></section>
        <h2 class="about__title">Yang tergolong</h2>
          <h1 class="info-block__text">
            Kertas-kertas tergolong kedalam sampah organik kering :
          </h1>

          


          <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Jenis Sampah</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Koran bekas</td>
                    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Majalah dan brosur</td>
                    
                </tr>
                
                
            </tbody>
          </table>



          <img
            class="info-block__img"
            src="../static/img/kertas.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>

      <section class="main__about about" id="Batang"></section>
        <h2 class="about__title">Yang tergolong</h2>
        
          <h1 class="info-block__text">
            Daun dan batang pohon pisang yang sudah kering tergolong sampah organik kering
          </h1>

          
          <img
            class="info-block__img"
            src="../static/img/batang.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        
      </section>
      
    
    <footer>
      
      <h1><a href="/organik">Tekan disini untuk kembali</a></h1>
    </footer>
  </body>
</html>
