<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portofolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/anorganik">Sampah anorganik</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="/b3">Sampah b3</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Bagian Pratinjau -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Sampah-sampah organik</h1>

        
      </section>
      <!--List sampah organik-->
      <div class="box">
        <h2>Sampah organik kering</h2>
        <ul>
          <li>
            <a href="#sismak"><span>1</span>Sampah sisa makanan</a>
          </li>

          <li>
            <a href="#Kulah"><span>2</span>Kulit buah</a>
          </li>

          <li>
            <a href="#Daun"><span>3</span>Daun</a>
          </li>

          <li>
            <a href="#Kulyur"><span>4</span>Kulit sayur</a>
          </li>

          <li>
            <a href="#Ampas"><span>5</span>Ampas kopi dan teh</a>
          </li>

          <li>
            <a href="#Tulang"><span>6</span>Tulang ikan atau hewan</a>
          </li>

          <li>
            <a href="#Busuk"><span>7</span>Buah busuk</a>
          </li>

          <li>
            <a href="Biji-bijian"><span>8</span>Biji-bijian sisa</a>
          </li>

          <li>
            <a href="#kotoran"><span>9</span>Kotoran hewan</a>
          </li>

        </ul>
      </div>

      <div class="box1"></div>
        <h2>Sampah organik kering</h2>
        <ul>
          <li>
          <a href="#Daring"><span>1</span>Dedaunan kering</a>
          </li>
        <li>
          <a href="#Kayu"><span>2</span>Kayu</a>
        </li>
        <li>
          <a href="#Cangkang"><span>3</span>Cangkang kacang</a>
        </li>
        <li>
          <a href="#Kertas"><span>4</span>Kertas bekas</a>
        </li>
        <li>
          <a href="#Jerami"><span>5</span>Jerami atau sekam padi</a>
        </li>
        <li>
          <a href="#Batang"><span>6</span>Batang pisang</a>
        </li>
        </ul>
      </div>











      <!-- Bagian Tentang Sampah basah -->
      <section class="main__about about" id="sismak">
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah sisa makanan antara lain :
          </h1>
          <li>
            <h2>nasi</h2>
          </li>
          <li>
            <h2>sayuran</h2>
          </li>
          <li>
            <h2> daging</h2>
          </li>
          <li>
            <h2>ikan</h2>
          </li>
          
          <img
            class="info-block__img"
            src="../static/img/nasi.jpeg"
            alt="me"
            width="250"
            height="250"
            
          />

          <img
            class="info-block__img"
            src="../static/img/sismak.jpeg"
            alt="me"
            width="250"
            height="250"
          />

          <img
            class="info-block__img"
            src="../static/img/daging.jpg"
            alt="me"
            width="250"
            height="250"
          />

          <img
            class="info-block__img"
            src="../static/img/ikan.jpg"
            alt="me"
            width="250"
            height="250"
          />
          
        </div>
      </section>





      <section class="main__about about" id="Kulah"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah sisa kulit Buah antara lain :
          </h1>

          <li>
            <h2>Kulit apel</h2>
          </li>
          <li>
            <h2>Kulit pisang</h2>
          </li>
          <li>
            <h2>Kulit jeruk</h2>
          </li>
          <li>
            <h2>Kulit Mangga, dan masih banyak lagi</h2>
          </li>
          <img
            class="info-block__img"
            src="../static/img/buah.webp"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Daun"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis daun yang masih basah seperti
          </h1>
          <li><h2>Daun pepaya</h2></li>
          <li><h2>Dan banyak lagi</h2></li>
          <img
            class="info-block__img"
            src="../static/img/dasah.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      

      <section class="main__about about" id="Kulyur"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            <li><h2>Kulit kentang</h2></li>
            <li><h2>Kulit wortel</h2></li>
            <li><h2>Kulit bawang (bawang merah, bawang putih)</h2></li>
            <li><h2>Kulit timun</h2></li>
            <li><h2>Kulit labu</h2></li>
            <li><h2>Kulit tomat</h2></li>
            <li><h2>Kulit ubi jalar</h2></li>
            <li><h2>Kulit terong</h2></li>
            <li><h2>Kulit lobak</h2></li>
            
            
            
            
            
            
            
            
          </p>
          <img
            class="info-block__img"
            src="../static/img/sayur.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Ampas"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah ampas adalah
          </h1>
          <li><h2>Ampas kopi</h2></li>
          <li><h2>Ampas teh</h2></li>
          <img
            class="info-block__img"
            src="../static/img/ampas.webp"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Tulang"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <li><h1>Berbagai jenis tulang seperti :</h1>></li>
          <li><h2>Tulang ayam</h2></li>
          <li><h2>Tulang sapi</h2></li>
          <li><h2>Tulang kambing</h2></li>
          <li><h2>Dan masih banyak lagi</h2></li>

          <img
            class="info-block__img"
            src="../static/img/tulang.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Busuk"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Beragai macam buah yang busuk dan melewati masa makan nya seperti
          </h1>
          <li><h2>Buah apel yang busuk</h2></li>
          <li><h2>Buah pisang yang busuk</h2></li>
          <li><h2>Buah melon yang busuk</h2></li>
          <li><h2>Buah semangka, Berry-berryan, dan masih banyak lagi</h2></li>
          <img
            class="info-block__img"
            src="../static/img/Busuk.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Biji-bijian"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis Biji-bijian seperti
          </h1>

          <li><h2>Beras</h2></li>
          <li><h2>jagung</h2></li>
          <li><h2>Oat</h2></li>
          <li><h2>Kacang hijau</h2></li>
          <li><h2>Kacang merah</h2></li>
          <li><p>Dan masih banyak lagi</p></li>




          <img
            class="info-block__img"
            src="../static/img/biji.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="kotoran"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis kotoran yang tergolong sampah organik adalah
          </h1>


          <li><h2>Kotoran sapi</h2></li>
          <li><h2>Kotoran ayam</h2></li>
          <li><h2>Kotoran kambing</h2></li>
          <li><h2>Kotoran manusia</h2></li>
          <li><h2>Dan kotoran mahluk hidup lainnya</h2></li>
          <img
            class="info-block__img"
            src="../static/img/kotoran.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <!-- Bagian Tentang Sampah kering -->
      <section class="main__about about" id="Daring"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Yang tergolong sampah sisa dedaunan kering adalah berbagai 
            jenis daun yang sudah kering, biasanya banyak ditemukan
            disekitar lapangan
          </h1>

          <img
            class="info-block__img"
            src="../static/img/daun.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      

      <section class="main__about about" id="Kayu"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Berbagai jenis sampah kayu adalah
          </h1>

          <li><h2>Potongan Kayu Sisa Pekerjaan Pertukangan</h2></li>
          <li><h2>Ranting dan Dahan Kering</h2></li>
          <li><h2>Serbuk Gergaji</h2></li>
          <li><h2>Pallet Kayu Bekas</h2></li>
          <li><h2>Kayu Furnitur Rusak</h2></li>
          <li><h2>Kulit Kayu</h2></li>
          <img
            class="info-block__img"
            src="../static/img/kayu.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Cangkang"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Cangkang/kulit kacang termasuk sampah kering, contohnya :
          </h1>

          <li><h2>Kulit kacang tanah</h2></li>
          <li><h2>Kulit kacang </h2></li>
          <li><h2>Serbuk Gergaji</h2></li>
          <li><h2>Pallet Kayu Bekas</h2></li>
          <li><h2>Kayu Furnitur Rusak</h2></li>
          <li><h2>Kulit Kayu</h2></li>
          <img
            class="info-block__img"
            src="../static/img/kacang.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Kertas"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Kertas-kertas tergolong kedalam sampah organik kering :
          </h1>

          <li><h2>Koran bekas</h2></li>
          <li><h2>Majalah dan brosur</h2></li>

          <img
            class="info-block__img"
            src="../static/img/kertas.jpeg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>

      <section class="main__about about" id="Batang"></section>
        <h2 class="about__title">Yang tergolong</h2>
        <div class="about__info info-block">
          <h1 class="info-block__text">
            Daun dan batang pohon pisang yang sudah kering tergolong sampah organik kering
          </h1>

          
          <img
            class="info-block__img"
            src="../static/img/batang.jpg"
            alt="me"
            width="1000"
            height="250"
          />
        </div>
      </section>
      
    
    <footer>
      
      <h1><a href="/organik">Tekan disini untuk kembali</a></h1>
    </footer>
  </body>
</html>
